@import url("../fonts/robotodraft/stylesheet.css");
@import url("jquery-ui-1.8.17.custom.css");

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

html,body {
    font-family: "RobotoDraft","Helvetica Neue", Helvetica, Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #333;
    font-size: 13px;
    font-weight:normal;
}
.error-page{
    background:#eee;
}
.error-page .main{
    padding:15px;
    border-radius: 5px;
    position: relative;
    animation: bounceInDown 600ms ease both;
    animation-play-state: running;
}
.error-page .error-number{
    font-size:10em;
    color:#c0392b;
}