@import url("../fonts/roboto/stylesheet.css");
@import url("../fonts/bauhaus/stylesheet.css");
/*@import url("longshadow.css");*/
@import url("jquery-ui-1.8.17.custom.css");

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

html,body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:#fff;
    color: #333;
    font-size: 13px;
    font-weight:400;
    overflow: hidden;
}
a{
    outline: none!important;
}
.container-fluid{
    padding-right:10px;
    padding-left:10px;
}
.nowrap{
    white-space: nowrap;
}
.text-nowrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.text-center{
    text-align: center!important;
}
.nopadding{
    padding:0px;
}
.nomargin{
    margin:0px;
}
.noborder{
    border:none;
    border-radius: 0px;
}
.inline{
    display: inline-block;
    vertical-align: middle;
}
.modal-header .modal-title {
    display: inline-block;
    vertical-align: middle;
}
ul,ol{
    margin-left: 15px;
}
hr.dashed{
    border:none;
    border-bottom:1px dashed #eee;
    margin:15px 0;
}
.font-thin{
    font-weight:100; 
}
.font-light{
    font-weight: 300;
}
.font-normal{
    font-weight: 400;
}
.font-bold{
    font-weight: 700;
}
.font-black{
    font-weight: 800;
}
#page{
    width: 100%;
    transition:all 200ms linear;
}
.layout{
    position: absolute;
    top:0px;left:0px;bottom:0px;right:0px;
    width: auto;
}
.layout-north{
    bottom:auto;
}
.layout-east{
    left:auto;
}
.layout-south{
    top:auto;
}
.layout-west{
    right:auto;
}
.scroll{
    overflow: auto!important;
}
.flex-center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inverse{
    color:#fff!important;
}
.inverse a{
    color:#fefefe!important;
}
.inverse a:hover{
    color:#fff!important;
}
/* NAVBAR */
#jmc_navbar{
    border-radius:0px;
    -webkit-border-radius:0px;
    margin:0px;padding:0px 5px;
    background: #fff;
    border:none!important;
    min-height: 60px;
    z-index: 9990!important;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}
.mobile-menu-left{
    position: absolute;
    top:0px;left:10px;
}
.mobile-menu-left a.btn{
    margin:0px!important;
}
#jmc_navbar .navbar-nav{
    margin:0px -15px;
}
#jmc_navbar .navbar-nav > li > a{
    padding:0px 10px;
    margin:5px 0;
    height: 50px!important;line-height: 50px!important;
    color:teal;
}
#jmc_navbar .navbar-nav > li > a:hover,
#jmc_navbar .navbar-nav > li > a:focus{
    background:none;
}
#jmc_navbar .navbar-nav > li > a > i{
    font-size: 14px;
    line-height: auto;
}
#jmc_navbar .navbar-nav > li.open > a{
    background:rgba(0,0,0,0.1);
}
#jmc_navbar .navbar-nav > li.divider{
    margin:0 5px 0 0;
    display: inline-block;
    position: relative;
    border-right: 1px solid rgba(255,255,255,0.2);
}
#jmc_navbar .navbar-nav > li > a.btn{
    height: 30px!important;line-height: 30px!important;   
    border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    margin:15px 15px 0 0; 
    padding:0px 10px!important;
    font-size:12px;
    position: relative;
    border:none;
    color:#fff!important;
}
#jmc_navbar .navbar-nav > li > a.btn-default{
    color:#333!important;
    background: #eee!important;
}
#jmc_navbar .btn i{
    font-size:14px!important;
}
#jmc_navbar .btn .badge{
    position: absolute;
    top:-10px;right:-10px;
    padding:5px;
    border-radius: 50em;
    -webkit-border-radius: 50em;
    background: rgba(0,0,0,0.5);
    font-size: 9px!important;
    min-width: 20px;
}
#jmc_navbar .dropdown-menu{
    border-radius:3px;
    -webkit-border-radius:3px;
    border:none;
}
#jmc_navbar .dropdown-menu::before{
    content: "";
    border:8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top:-16px;
    left:16px;
}
#jmc_navbar .navbar-right .dropdown-menu::before{
    left: auto;
    right:16px;
}
.topnav{
    height:40px;
    background:rgba(0,0,0,0.4);
    position: relative;
    z-index: 99;
}
.sidebar-toggler{
    margin-right:15px!important;
    padding-right: 15px!important;
}
.sidebar-toggler .fa{
    font-size: 18px!important;
    color:#F37121;
    transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-webkit-transition:all 200ms ease-out;
}
.dropdown-notification > li > a {
    white-space: normal!important;
}
/* SIDEBAR */
#jmc_sidebar{
    width:240px;
    color:#333;
    background:linear-gradient(-50deg,#4085b3,#0f4c75);
    position: absolute;
    top:0px;left:0px;bottom:0px;
    transform:scale(1);
    opacity: 1;
    transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-webkit-transition:all 200ms ease-out;
}
#jmc_sidebar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*background: url(https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center;
    background-size: cover;*/
    opacity: 0.05;
}
.nav-sidebar{
    margin:10px;padding:0px;
}
.nav-sidebar li.header{
    color: rgba(255,255,255,0.5);
    background: rgba(0,0,0,0.1);
    position: relative;
    display: block;
    padding: 5px 30px;
    margin: 10px -10px 10px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.5px;
}
.nav-sidebar li.header:first-child{
    padding-top:15px;
}
.nav-sidebar li.divider{
    border-bottom: 1px dashed rgba(255,255,255,0.1);
    margin:5px 0;
}
.nav-sidebar > li{
    position: relative;
}
.nav-sidebar > li a{
    text-decoration: none!important;
}
.nav-sidebar > li > a {
    color:#333;
    outline:none;
    text-decoration: none!important;
    font-weight: 500;
    transition:all 200ms ease-in-out;
    padding-left: 35px;
}
.nav-sidebar > li > a:focus{
    background:none;
    color:inherit;
}
.nav-sidebar > li > a:hover{
    background:rgba(255,255,255,0.3);
}
.nav-sidebar > li > a > .icon{
    text-align: center;
    font-size:14px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin-right: 5px;
    text-align: center;
    position: absolute;
    top:12px;left:10px;
}
.nav-sidebar > .active > a {
    background:rgba(255,255,255,0.3)!important;
}
.nav-sidebar > li > a > i.pull-right{
    float: right;
    margin:0px;
    margin-top:5px;
    position: relative;
    font-size:8px;
    transition:all 100ms ease-in-out;-moz-transition:all 100ms ease-in-out;-webkit-transition:all 100ms ease-in-out;
}
.nav-sidebar > li.focus > a > i.pull-right{
    transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);
}
.nav-sidebar > li > ul{
    background:rgba(0,0,0,0.05);
    margin:0;padding:0;
    list-style: none;
    position: relative;
    display: none;
}
.nav-sidebar > li > ul::before{
    content: "";
    position: absolute;
    top:0px;left:25px;bottom:0px;
    border-left:1px dotted rgba(255,255,255,0.3);
}
.nav-sidebar > li > ul > li > a{
    display: block;
    padding:8px 20px 8px 40px;
    position: relative;
    color:inherit;
}
.nav-sidebar > li > ul > li > a::before{
    content: "";
    position: absolute;
    top:50%;left:25px;
    width: 10px;
    border-bottom: 1px dotted rgba(255,255,255,0.3);
}
.nav-sidebar > li > ul > li > a:hover{
    text-decoration: none;
    background:rgba(255,255,255,0.1);
}
.nav-sidebar > li > ul > li > a > i.pull-right{
    margin:0px;
    margin-top:5px;
    position: relative;
    font-size:8px;
    transition:all 100ms ease-in-out;-moz-transition:all 100ms ease-in-out;-webkit-transition:all 100ms ease-in-out;
}
.nav-sidebar > li > ul > li.focus > a > i.pull-right{
    transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);
    transition:all 100ms ease-in-out;-moz-transition:all 100ms ease-in-out;-webkit-transition:all 100ms ease-in-out;
}
.nav-sidebar > li > ul > li.active{
    text-decoration: none;
    font-weight: medium;
    background:rgba(0,0,0,0.2);
}
.nav-sidebar > li > ul > li > ul{
    background: rgba(0,0,0,0.1);
    margin:0;padding:0;
    list-style: none;
    position: relative;
    display:none;
    border-radius: 0 0 5px 5px;
}
.nav-sidebar > li > ul > li > ul > li > a{
    display: block;
    padding:8px 20px 8px 55px;
    position: relative;
}
.nav-sidebar > li > ul > li > ul > li > a::before{
    content: "";
    position: absolute;
    top:50%;left:25px;
    width: 20px;
    border-bottom: 1px dotted rgba(255,255,255,0.3);
}
.nav-sidebar > li > ul > li > ul > li > a:hover{
    text-decoration: none;
    background:rgba(255,255,255,0.1);
}
.nav-sidebar > li > ul > li > ul li.active a{
    text-decoration: none;
    color: #fff;
    background:rgba(255,255,255,0.1)!important;
}
.sidebar-footer{
    background: rgba(0,0,0,0.1);
    text-align: center;
    padding:10px;
}

/* CONTENT */
#jmc_body{
    background: #fff;
    left:240px;
    transition:all 300ms ease-in;
}
#contentpane{
    padding:0px;
    width: 100%;
    overflow: hidden
}
.main{
    width: 100%!important;
}
.nonaktif, .nonaktif td {
    background-color: #ffe9c5;
    color: #bbb;
}

/* LAYOUT */
.pane{
    background: #ddd;
    height: auto!important;
    padding:5px;
    z-index: 999!important;
}
.pane.ui-layout-north{
}
.pane.ui-layout-south{
}
.pane .btn-default{
    background: #fff;
}
.pane p{
    margin:10px 0 0px;
}

/* THEME */
.item {
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.info-box {
    margin-bottom: 20px;
    height: 65px;
}
.info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    height: 65px;
}
.bg-blue-linear-gradient {
    background-image: linear-gradient(-50deg,#2f7eb3,#0f4c75);
    color: #fff;
}
.info-box .icon {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    width: 60px;
}
.info-box .content {
    display: inline-block;
    padding: 7px 10px;
}
.info-box .icon i {
    line-height: 65px;
    font-size: 25px;
    color: #fff;
}
.info-box .content .text {
    font-size: 14px;
    margin-top: .85rem;
}

/* RESIZE LAYOUT */
.fullpage #jmc_sidebar{
    transform:scale(0.5)!important;
    opacity: 0!important;
}
.fullpage #jmc_body{
    left:0px!important;
    width: auto%!important;
}
.fullpage .sidebar-toggler .fa{
    transform:rotate(90deg);
}