@media (max-width: 768px) {
	html,body {
		overflow: auto!important;
	}
	.visible-xs{
		display: block!important;
	}
	.navbar-collapse.collapse{
		display: none!important;
	}
	.navbar-brand{
		padding:0 0 0 50px;
	}
	#jmc_navbar{
		z-index: 9999;
	} 
	.app-logo{
		position: relative!important;
	}
	.app-logo a{
		font-size: 12px;
	}
	.breadcrumb{
		display: none;
	}
	.layout{
		position: relative!important;
		top:auto!important;left:auto!important;bottom:auto!important;right:auto!important;
	}
	.topnav{
		height: auto;
		display: none;	
	}
	.topnav ul li{
		float: none;
	}
	.topnav ul li a{
		margin:0px;
		padding:10px;
		border-radius: 0px;
		background: none!important;
		color:#fff!important;
	}
	.topnav ul li a:active{
		background: rgba(0,0,0,0.4)!important;
	}
	.topnav ul li a i{
		float: right;
	}
	.topnav ul li ul{
		position: relative;
		top:auto;left:auto;
		background: rgba(0,0,0,0.2)!important;
		box-shadow: 0px 0px 0px #000;
	}
	.topnav ul li ul::before{
		display: none;
	}
	.panel .btn,
	.panel .inputbox,
	.panel select{
		margin-bottom: 5px;
	}
	.inputbox,.chosen-container,select,textarea{
		max-width: 100%;
	}
	.content-sidebar{
		position: relative!important;
		width:100%!important;
		display: none;
	}
	.layout,.layout-north,.layout-south,.layout-west,.layout-east,.layout-center{
		position: relative!important;
		top:auto!important;left:auto!important;bottom:auto!important;right:auto!important;
	}
	#jmc_sidebar{
		width: 100%;
		display: none;
    	transition:all 200ms linear;
	}
	#jmc_sidebar.pull{
		display: block;
	}
	#jmc_sidebar .logout{
		position: absolute;
		top:18px;right:15px;
		text-decoration: none;
		height: 30px;line-height: 30px;
		padding:0 15px;
		overflow: hidden;
		background: #C0392B;
		text-shadow:0px 0px 0px rgba(0,0,0,0)!important;
	}
	.navbar-header{
		text-align: center;
	}
	.mobile-toggler{
		position: absolute;
		top:10px;left:15px;
		color:#333;
		font-size:24px; 
	}
	.modal:before {
	    height: auto!important;
	}
	.logout-resp a {
	    display: block;
	    margin: 1rem;
	}
	.input-btn-responsive {
	    position: absolute;
	    left: auto;
	    right: 5px;
	    bottom: 5px;
	}
}