@import url("../fonts/bebasneue/stylesheet.css");
@import url("../fonts/roboto/stylesheet.css");
:root{
    --accent:#c0392b;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
body{
    font-family:sans-serif;
    font-size:12px;
    color:#333;
}
.login-container{
    display: flex;
    flex-direction: row;
    flex:1;
    min-height: 100vh;
    background:url(../images/login/login-bg.png) no-repeat center;
    background-size: cover;
}
.login-image{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.login-image img{
    width: 100%;
}
.login-cover{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#2c3e50;
}
.admin .login-cover{
    background:linear-gradient(-45deg,crimson,#1abc9c);   
}
.login-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
}
.login-cover .caption{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display: flex;;
    align-items: center;
    z-index: 10;
    color:#fff;
    justify-content: center;
    font-size: 14px;
}
.login-cover .caption h2{
    font-size: 40px;
}
.login-cover .caption h4{
    font-size: 25px;
    font-weight: 200;
}
.login-cover .caption .caption-foot{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    padding:30px;
    color:rgba(255,255,255,0.8);
}
.login-form{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,0.8);
}
.login-form .box{
    width: 100%;
    padding:50px 100px;
}
.login-form .box h2{
    font-size:30px;
    color:var(--acccent);
    font-weight: 200;
}
.admin .login-form .box h2{
    color:crimson;
}
.login-form .box h4{
    font-size: 20px;
    font-weight: 200;
    color:#E7505B;
}
.login-form .box p{
    font-size: 16px;
    color:#555;
    font-weight: 200;
}
.form-group label{
    font-size:11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#333;
    margin:0 0 5px;
    display: block;
}
.form-control{
    border:1px solid #ddd;
    width: 100%;
    height: 40px;
    padding:0 15px;
    font-size:14px;
    outline: none;
}
.form-control::placeholder{
    color:#ccc;
    font-weight: 400;
}
.form-control:focus{
    border:1px solid #aaa;
}
.has-error .form-control{
    border:1px solid crimson;
}
.help-block{
    padding:10px;
    font-style: italic;
}
.help-block-error{
    color:crimson;
}
.btn-submit{
    padding:15px 50px;
    border-radius: 50px;
    font-size:12px;
    text-transform: uppercase;
    font-weight: bold;
    background: var(--accent);
    color:#fff!important;
    border:none;
}
.admin .btn-submit{
    background: crimson;
}

@media (max-width: 768px) {
    .login-container{
        display: block;
    }   
    .login-form{
        width: 100%;
        z-index: 99;
        position: relative;
        background: none;
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
    }
    .login-form .box{
        padding:30px;
    }
    .login-form .box h2{
        color:#fff;
        text-align: center;
    }
    .login-form .box p{
        color:#fff;
        text-align: center;
    }
    .login-form .box label{
        color:#fff;
    }
    .login-image{
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        width: 100%;
        z-index: 0;
    }
    .login-image .caption{
        display: none;
    }
    .btn-submit{
        display: block;
        width: 100%;
    }
}