@import url("../fonts/roboto/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900');
@import url('../fonts/jogjafont/jogjakartype.css');

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
body{
	font-size:12px;
	color:#333;
	background: #fff;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: linear-gradient(-90deg,#00c6fb,#005bea);
    /*background: -webkit-linear-gradient(bottom, #005bea, #00c6fb);
    background: -o-linear-gradient(bottom, #005bea, #00c6fb);
    background: -moz-linear-gradient(bottom, #005bea, #00c6fb);
    background: linear-gradient(bottom, #005bea, #00c6fb);*/
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
	margin:0;padding:0;
}
div[class*="col-"]{
	padding:0px;
}
/*@font-face {
  font-family: 'Jogjakartype';
   src: url('webfont.eot'); IE9 Compat Modes 
  src: url('webfont.eot?#iefix') format('embedded-opentype'),  IE6-IE8 
       url('webfont.woff2') format('woff2'),  Super Modern Browsers 
       url('webfont.woff') format('woff'),  Pretty Modern Browsers 
       url('fonts/jogjakartype/jogjakartype.ttf')  format('truetype'); /* Safari, Android, iOS
       url('webfont.svg#svgFontName') format('svg'); Legacy iOS 
}*/
.namaapp {
	font-family: 'jogjakartype', Fallback, sans-serif;
	color: #fafafa;
}
.heading p, .heading h4 {
	font-family: 'jogjakartype', Fallback, sans-serif;
	color: #000;
	margin-bottom: 0;
}
.heading span {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}
#navbar {
    background: none;
    border: none;
    border-radius: 0;
}
#navbar .navbar-brand {
    display: flex;
    flex-direction: row;
    color: #333;
    text-decoration: none;
}
#navbar .navbar-brand img {
    /*width: 50px;*/
    height: 50px;
    object-fit: contain;
    margin-right: 1rem;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    /*height: 100%;*/
    opacity: .2;
    z-index: -1;
}
.bg-right-form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /*height: 100vh;*/
    object-fit: cover;
    z-index: -1;
}
.bg-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1; 
}
.bg-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    transform: translate(30%, -70%);
}
.heading{
	padding: 7rem 15px 15px;
	margin-left: 1.5rem;
}
.rightside .heading h3{
	font-weight: 700;
	font-size:20px;
	text-transform: uppercase;
}
.login-container{
	position: relative;
	padding: 7rem 0;
	min-height: 100vh;
	margin-bottom: -2px;
}
section#about {
    position: relative;
    padding: 5rem 0 0;
    /*background: #fafafa;*/
    /*margin-bottom: -2px;*/
}
#about .icon {
    border-bottom: 3px solid #6a91e1;
    margin: 0px 0 20px;
    padding-bottom: 15px;
    width: 70px;
}
#about h3 {
    /*font-size: 26px;*/
    font-weight: bold;
    color: #2A7BF9;
    margin-bottom: 10px;
}
#about p {
    font-weight: 500;
}
#about .image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*footer {
	position: relative;
	padding: 5rem 0 1rem;
	background: #fafafa;
	text-align: center;
}
footer .contact {
	font-size: 16px;
	font-weight: 500;
}*/
.pt-7 {
	padding-top: 7rem!important;
}
.logo-title{
	text-align: center;
	margin-bottom: 15px;
}
.login-container .box{
	background:#fff;	
	border-radius: 5px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}
.start-container{
	background:#fff;
	margin:0 auto;
	margin-top:100px;
	border-radius: 10px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	overflow: hidden;
	width:400px;
	padding:15px;
	text-align: center;
}
.start-container h1{
	color:rgba(0,0,0,0.5);
	margin:15px 0px 30px;
	font-weight: normal;
	font-size: 30px;
}
.btn-pane{
	margin-top:40px;
}
.login-image{
	background:#222;
	overflow: hidden;
	position: relative;
}
.login-image img{
	width: 100%;
}
.login-image h4.title{
	position: absolute;
	bottom: 0px;left:0px;right:0px;
	padding:30px;
	color:#fff;
	font-size:25px;
	text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
    text-shadow:0px 1px 1px rgba(0,0,0,0.3);
}
.login-client{
	padding:15px;
	background: #a95e14;
	color:#fff;
	overflow: hidden;
	padding-bottom:0px;
}
.client-logo{
	float: left;
	width:100px;
	height: 100px;
	margin-right:15px;
}
.client-logo img{
	width: 100px;
}
.login-client h2{
	font-size: 15px;
	margin-bottom: 10px;
}
form{
	padding:15px;
}
.form-control{
	/*border:1px solid transparent;*/
	/*background: #ddd;*/
	height: 40px;
    /*border-radius: 25px;*/
    font-size: 1.5rem;
	box-shadow:0px 0px 0px rgba(0,0,0,0)!important;
	-webkit-box-shadow:0px 0px 0px rgba(0,0,0,0)!important;
}
.form-control:focus{
	border:1px solid #aaa!important;
}
.btn{
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3)!important;
	border:1px solid rgba(0,0,0,0)!important;	
	padding:10px;
}
.btn-signin{
	background:#ff7f00;
	color:#fff!important;
	font-weight: bold;
	font-size:18px;
	text-shadow:0px 1px 1px rgba(0,0,0,0.2);
}
.btn-submit{
	background: #2ecc71;
	font-weight: 700;
	color:#fff!important;
	cursor: pointer;
	border-radius: 25px;
    font-size: 1.5rem;
}
.btn-circle{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin:0 auto;
	border-radius: 50em;
	font-size: 20px;
	font-weight: 100;
	border:none!important;
}
.input-bg{
	position: relative;
}
.input-bg .icon{
	position: absolute;
	top:10px;
	left:20px;
	font-size:20px;
	color:#485156;
}
.input-bg .form-control{
	padding-left: 45px;
}
#tahunanggaran.dropdown {
    padding: 5px;
    position: relative;
}
#tahunanggaran.dropdown:hover .dropdown-menu {
    display: block;
    transform: perspective(400px) rotateX(0deg);
    -webkit-transform: perspective(400px) rotateX(0deg);
    visibility: visible;
    opacity: 1;
}
#tahunanggaran .dropdown-menu {
    width: calc(100% - 10px);
    text-align: center;
    transform-origin: 50% 0;
    transform: perspective(400px) rotateX(-90deg);
    -webkit-transform: perspective(400px) rotateX(-90deg);
    transition: all .3s ease-in-out;
    -webkit-transition : all .3s ease-in-out;
    display: block;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    max-height: 170px;
    overflow-y: scroll;
}
#tahunanggaran .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #fcbf1e;
}
#tahunanggaran .dropdown-menu li a {
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}
.notice{
	margin:0 15px 5px;
	background: #485156;
	color:#fff;
	display: block;
	padding:10px;
	text-align: center;
	border-radius: 3px;
	position: relative;
}
.notice::before{
	content: "";
	border:10px solid transparent;
	border-top:10px solid #485156;
	position: absolute;
	bottom:-20px;left:30px;
}
.notice-error{
	background:#c0392b;
	margin:-5px;
	padding:10px;
	color:#fff;
	border-radius: 3px;
	position: relative;
}
.notice-error::before{
	content: "";
	border:8px solid transparent;
	border-top:8px solid #c0392b;
	position: absolute;
	bottom:-16px;left:27px;	
}
.footer {
    padding: 15px!important;
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    margin-top: 5rem;
    /* text-shadow: 0px 1px 2px rgba(0,0,0,0.5); */
}
.alamatnya p {
    font-size: 18px;
    color: #fafafa;
}
.tagline h3, .tagline h4 {
	font-family: 'Jogjakartype', Fallback, sans-serif;
	color: #fafafa;
}
/* Bootstrap Modal Theme */
.modal{
    z-index: 9999!important;
    text-align: center;
}
.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}
.modal-dialog{    
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    border:none!important;
    overflow: visible!important;
}
.modal-content{
    border-radius: 3px!important;
    -webkit-border-radius: 0px!important;
    border:none!important;
    padding:15px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1)!important;
}
.modal-header{    
    margin:-1px 0 0;
    padding: 10px 15px;
    border:none;
}
.modal-header h4{
    margin:0;
}
.modal-header .close{
}
.modal-footer{
    padding:10px 15px;
    border:none;
    text-align: center;
}
.modal.zoom .modal-dialog{
    opacity: 0; transform: scale(.8);
    transition:all 200ms ease-out;
    overflow: auto;
}
.zoom.in .modal-dialog{
    opacity: 1; transform: scale(1);
    transition:all 200ms ease-out;
}
.modal .chosen-container{
    width: 100%!important;
}
.font-thin{
	font-weight: 300;
}
@media (max-width: 992px) { 
	.login-container{
		margin:0px auto;
	}

}
@media (max-width: 768px) { 
	.login-container{
		margin:50px auto 0px;
		width: 90%;
		background:none;
		box-shadow:0px 0px 0px rgba(0,0,0,0);
		border-radius: 0px;
		padding-top: 0;
	}
	/*.login-container::before{
		content: "";
		position: fixed;
		top:0px;left:0px;bottom:0px;right:0px;
		background:rgba(0,0,0,0.5);
		z-index: 0; 
	}*/
	.login-container .box{
		background: none;
		box-shadow: 0px 0px 0px rgba(0,0,0,0);
	}
	.start-container{
		width: 90%;
	}
	.login-image{
		background:none;
		margin-bottom: 30px;
	}
	.login-image h4.title{
		position: relative;
		color:#fff;
		padding:0px;margin:0px;
		background:none;
		height: 50px;line-height: 50px;
	}
	.login-image img{
		display: none;
	}
	.login-client{
		display: none;
	}
	.heading{
		display: none;
	}
	.footer{
		margin:0px;padding:0px;
	}
	.notice{
		margin-bottom: 15px;
	}
	.form-control{
		box-shadow: 0px 0px 0px rgba(0,0,0,0), inset 0px 0px 0px rgba(0,0,0,0)!important;
		-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0), inset 0px 0px 0px rgba(0,0,0,0)!important;
		border:none!important;
	}
	.col-sm-6{
		padding: 0px!important;
		margin-bottom: 10px;
	}
	.logo-title{
		position: relative;
	}
	.footer{
		position: relative;
	}
}