/* Sidebar Profile */
.sidebar-menu{
    text-align: center;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
}
.sidebar-menu a{
    display: block;  
    padding:10px;
    font-size: 14px;
    text-decoration: none;
}
.sidebar-menu > div{
    position: relative;
}
.sidebar-menu > div::before{
    content: "";
    position: absolute;
    top:0px;right:0px;bottom:0px;
    border-right:1px solid rgba(255,255,255,0.1);
}
.sidebar-title{
	padding:0 15px;
	background: rgba(255,255,255,0.1);
	overflow: hidden;
}
.sidebar-title h2{
	margin:0px;padding:0px;
	height: 60px;line-height: 60px;
	font-size: 20px;
}
.sidebar-profile{
	padding:0 10px;
	overflow: hidden;
	/*background: url(../images/background/profile-bg.jpg) no-repeat center;*/
	background: rgba(0,0,0,0.1);
	background-size: cover;
	min-height: 60px;
	position: relative;
}
.sidebar-profile .avatar{
	width: 40px;
	height: 40px;line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	border-radius: 3px;
	float: left;
	margin-top:10px;
	margin-right:10px;
	vertical-align: middle;
	position: relative;
	text-shadow:0px 0px 0px rgba(0,0,0,0)!important;
	background:rgba(0,0,0,0.5);
}
.sidebar-profile h4{
	margin:15px 0px 0px;
	font-size:14px;
	position: relative;
}
.sidebar-profile small{
	position: relative;
}

/* Font Icon */
.the-icons{
	list-style: none;
	margin:0;padding:0;
}
.the-icons li{
	padding:10px;
}
.the-icons li .fa{
	width:20px;
	text-align: center;
	margin-right:10px;
	font-size: 16px;
}

.border-dashed-right{
	border-right: 1px dashed #eee;
}
.border-dashed-right:last-child{
	border:none;
}

.stats-info ul li{
	border-bottom: 1px solid #eee;
	padding:10px 0;
}
.stats-info ul li:last-child{
	border:none;
}
/* CPANEL BUTTON */
a.cpanel{
	text-align: center;
	display: inline-block;
	text-decoration: none!important;
	color:#333;
	margin:0 13px 15px 0;
	position: relative;
}
a.cpanel i{
	width: 90px;height: 90px;line-height: 90px;
	font-size: 30px;
	display: inline-block;
	background: #eee;	
	color:#333;
	border-radius: 5px;
	clear: both;
	margin-bottom: 5px;
}
a.cpanel span{
	display: block;
	color:#aaa;
	text-transform: uppercase;
	font-size: 11px;
}
a.cpanel:hover i{
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
}
a.cpanel .badge{
	position: absolute;
	top:-10px;right:5px;
	background:#c0392b;
	color:#fff;
	width: 25px;height: 25px;line-height: 25px;
	padding: 0px;
	border-radius: 50em;
}
/* CHATBOX */
.chatbox ul{
    list-style: none;
    margin:0;padding:0;
    overflow: hidden;
}
.chatbox ul li{
    overflow: hidden;
    padding:5px;
}
.chatbox .thumbnail{
    width:50px;
    height:50px;
    float:left;
    border-radius: 50em;
    overflow: hidden;
    padding:0px;
    border:none;
}
.chatbox .message{
    margin-left:60px;
    border:1px solid #ddd;
    border-left:3px solid #ff0000;
    padding:5px 10px;
    position: relative;
}
.chatbox .message::before{
    content: "";
    border:5px solid transparent;
    border-right:5px solid #ff0000;
    position: absolute;
    top:20px;
    left:-13px;
}
.chatbox .message .name{
    display: block;
    font-weight: bold;
}
.chatbox .message .time{
    display: block;
    color:#aaa;
    margin-top:10px;
    font-size: 11px;
}
.chatbox .alt .thumbnail{
    float:right;
}
.chatbox .alt .message{
    margin-left:auto;
    margin-right:60px;
    border:1px solid #ddd;
    border-right:3px solid #ff0000;
    position: relative;
}
.chatbox .alt .message::before{
    content: "";
    border:5px solid transparent;
    border-left:5px solid #ff0000;
    position: absolute;
    top:20px;
    right:-13px;
    left: auto;
}
.message-form{
    border-top:1px solid #ccc;
    padding:10px 15px 15px;
    margin:0px;
    overflow: hidden;
}

.circliful{
	display: inline-block;
}

.slidecheck {
  width: 30px;
  height: 10px;
  margin:10px 0;
  background: #ddd;
  position: relative;
  border-radius: 50px;
}
.slidecheck label {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -3px;
  left: -3px;
  cursor: pointer;
  background: #ccc;
  border-radius: 50px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
}
.slidecheck input[type=checkbox] {
  visibility: hidden;
}
.slidecheck input[type=checkbox]:checked + label {
  left: 17px;
  background:#2ECC71;
}

.form-column{
    width: 100%;
    border-collapse: collapse;
    border:none;
}
.form-column tr{
    border-bottom: 1px solid #ddd;
}
.form-column th{
    padding:10px 5px;
    vertical-align: top;
}
.form-column td{
    padding:5px;
    vertical-align: top;
}

.card-box-img a{
  display: inline-block;
  width: 140px;
  height: 120px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  text-align: center;
  margin:0 10px 10px 0;
  border-radius: 2px;
  color:#aaa;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none!important;
  transition:all 200ms ease-in;
}
.card-box-img a img{
  display: block;
  margin:15px auto 5px;
}
.card-box-img a:hover{
  box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}
.card-widebox-img a{
  display: inline-block;
  width: 250px;
  height: 100px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  margin:0 10px 10px 0;
  border-radius: 2px;
  color:#aaa;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none!important;
  transition:all 200ms ease-in;
  position: relative;
  overflow: hidden;
}
.card-widebox-img a::before{
  content: "";
  position: absolute;
  top:0px;left:0px;bottom:0px;
  width:90px;
  border-right:1px solid #eee;
}
.card-widebox-img a img {
    position: absolute;
    top: 15px;
    left: 15px;
}
.card-widebox-img a .icon{
  font-size:40px;
  position: absolute;
  top:24px;left:24px;
  color:#111;
}
.card-widebox-img a span{
  position: absolute;
  top:0px;left:90px;bottom:0px;right:0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px;  
}
.card-widebox-img a:hover{
  box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}
.card-widebox-img.extend a{
  height: 150px;
}
.card-widebox-img.extend a::before{
  bottom:50px;
}
.card-widebox-img.extend a span{
  bottom:50px;
}
.card-widebox-img a em{
  position: absolute;
  bottom: 0px;left:0px;right:0px;
  padding: 10px;
  font-size: 11px;
  background:#eee;
  color:#333;
  font-style: normal;
  text-align: center;
  min-height: 50px;
}
.card-widebox-img a em.active{
  background:#6ca538;
  color:#fff;
}

.digit{
  font-size: 22px;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
}
.thread{
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  padding:15px;
  margin-bottom: 15px;
}
.thread_user{
  font-weight: bold;
}
.thread_date{
  color:#aaa;
  font-size: 11px;
  margin-bottom: 5px;
}
.thread_meta{
  text-align: right;
}
.thread_reply{
  margin-top:15px;
  display: none;
}
.thread_comments{
  background:#eee;
  margin:10px -15px;
  padding:15px; 
  display: none;
}
.thread_comments .comment{
  border-bottom: 1px solid #ddd;
}
.thread_comments .comment:last-child{
  border-bottom: none;
}
.pengumuman{
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  padding:15px;
  margin-bottom: 15px;
}
.pengumuman_title{
  font-weight: bold;
}
.pengumuman_date{
  color:#aaa;
  font-size: 11px;
  margin-bottom: 5px;
}
input[type="checkbox"]{
  position: relative;
  top:2px;
  margin: 2px 5px 0 0!important;
  cursor: pointer;
  outline: none!important;
  background: none!important;
}
input[type="checkbox"]:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 12px;
  height: 12px;
  border: 1px solid #aaa;
}
input[type="checkbox"]:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

input[type="radio"]{
  position: relative;
  top:3px;
  margin: 2px 5px 0 0!important;
  cursor: pointer;
  outline: none!important;
  background: none!important;
}
input[type="radio"]:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 10px;
  height: 10px;
  border-radius: 50em;
  transform:scale(0);
}
input[type="radio"]:checked:before {
  background: #aaa;
  transform:scale(1);
}
input[type="radio"]:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 14px;
  height: 14px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 50em;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.2); 
}