body.pace-running{
  background: #111;
}
body.pace-running > #page{
  transition:all 100ms ease-out;
}
.pace .pace-progress {
  background: red;
  position: relative;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 5px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}