@font-face {
    font-family: 'jogjakartype';
    src: url('fonts/jogjakartype.eot');
    src: url('fonts/jogjakartype.eot') format('embedded-opentype'),
         url('fonts/jogjakartype.woff2') format('woff2'),
         url('fonts/jogjakartype.woff') format('woff'),
         url('fonts/jogjakartype.ttf') format('truetype'),
         url('fonts/jogjakartype.svg#jogjakartype') format('svg');
}
